.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 1rem 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--lightgray);
      
      &:last-child {
        border-bottom: none;
      }

      .section > .desc > h3 > a {
        background-color: transparent;
        font-weight: 500;
        letter-spacing: -0.011em;
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}

.recent-note-preview {
  color: var(--gray);
  font-size: 0.95em;
  margin-top: 0.3em;
}
