@use "./base.scss";

// put your custom CSS here!

.reference-list,
h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol,
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
  font-size: 0.85em;
  padding-left: 1.5em;
  margin: 0;
}
